body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main box */
.profile-card {
    width: 320px;
    padding: 20px;
    border: 3px solid gray;
    margin: 60px auto;
    background-color: white;
    text-align: center;
    border-radius: 10px;

    box-shadow: 0 0 10px;


}

/* Image box */
.profile-card img {
    border: 1px solid gray;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 50%;
    height: 50%;
    width: 50%;



}

/* Text spaceing */
.profile-card h2 {
    margin: 10px 0;
    color: blue;
}

.role {
    margin: 5px 0 15px;
    font-size: 14px;
    color: gray;
    color: gray;
}

.desc {
    margin: 0 0 20px;
    font-size: 14px;
    color: gray;
    color: gray;
}

.profile-card button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;


}

.profile-card button:hover {
    background-color: brown;
}