.container{
    display: flex;
    background-color: brown;
    width: auto;
    height: auto;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap:nowrap;
    /* flex-flow : row nowrap; */
    justify-content: flex-start;
    align-items: flex-start;
    align-content:stretch; 
    padding: 10px;
    border: 2px solid black;

}
.item{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    width: 100px;
    height: 30px;





    


    
}