*{
    font-family: 'Courier New';
}
h1,h3{
    color: #b92b7b;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b7b;
    color: white;
}
.upvote{
    background-color: green;
    color: aliceblue;
}
/* descendant selector */
.post a{
    color: purple;
}
nav ul li a{
    color: hotpink;
}
/* Adjacent Sibling Combinator */
/* Heading 3 that comes immediately after any paragraph */
p + h3{
    text-decoration: underline;
}
.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}
/* Child Combinator */
/* Selects all inputs which are direct children of divs */
div > input{
    background-color: darksalmon;


}
input[type="text"]
{
    color: red;
}
input[type="password"]
{
    color: green;
}
input[type]
{
    background-color: ghostwhite;
}
button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}

button:active{
    background-color: hotpink;
    color: black;
}
p:active{
    font-weight: bolder;
    color: green;   
}
input[type="radio"]:checked + label{
    color: red;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
div:nth-of-type(2n){
    background-color:rgb(240, 220, 171);
}