body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headphone{
    display: inline-block;
    
    background-color: white;
    height: 600px;
    width: 400px;

}