#head {
    color: blue;
    background-color: yellow;

}

.heading-class {
    color: red;
    background-color: green;

}

body {
    background-color: pink;
}

button {
    background-color: blue;
    color: white;
}