#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;

}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yell{
    background-color: yellow;
}
#gre{
    background-color: green;
}
body{
    margin: 0;
    height: 100vh;              /* Full screen height */
    display: flex;
    justify-content: center;    /* Horizontal center */
    align-items: center;        /* Vertical center */
}