.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: white;
    border: solid;
    /* padding: px; */
    gap: 2px;


}
.container .item{
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
    

}
.container .item img{
    width: 100%;
    height: auto;
    display: block;
}