h1{
    color:red;
}

p{
    color:green;
}

button{
    color: pink;
    background-color: rgb(255,255,0);
    /* background-color: #ffff00; */
}

body{
    background-color: rgb(0,255,0);
    /* background-color: #00ff00; */
}

