body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between; /* logo/site name->left, menu->right */
  align-items: center;

  background-color: #333;
  padding: 15px 30px;
}

/* Logo */
.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Menu */
.menu {
  display: flex;
  gap: 20px;
}

/* Anchor links */
.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
